@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:wght@700&display=swap');

html{
    box-sizing: border-box;
}

body{
    margin: 0; 
    font-family: 'Noto Serif', serif;
    background: whitesmoke;
}